{% extends 'base.html'%}

{%block head%}

{% endblock %}

{%block body%}
<div class="flex-container">
    <div class="item">
        <form action="/" method="POST">
            <label for="send_tag">#Seach tag</label>
            <input type="text" name="scrape_param">
            <label for="jumps">Number of jumps</label>
            <input type="number" name="scrape_param" min="1" max="20">
            <input type="submit" value="Generate from">
        </form>
        <div class=placeholder>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}<div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="item">
    </div>
    <div class="item">
    </div>
</div>
{% endblock %}
